html {
    color: #222;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background: #eee;
}

body > .wrapper {
    background: #fff url(/img/ticket.jpg) no-repeat 97% 5%;
    box-shadow: 0 0 10px 1px #aaa;
    margin: auto;
    width: 1200px;
}

header, main, footer {
    padding: 10px 20px;
}

main {
    max-width: 70%;
}

/* header */
header h1 {
    margin-bottom: 0;
}
header h1 a, header h1 a:hover,
header h1 a:active, header h1 a:focus {
    color: inherit;
    text-decoration: none;
}
header .slogan {
    font-size: 0.9rem;
    font-style: italic;
    margin: 0;
}
.view-all-link {
    font-size: .8rem;
}
