<?php

use Mapper\ArtistMapper;
use Mapper\ShowMapper;

$serviceLocator = App::getServiceLocator();

/** @var TemplateRenderer $templateRenderer */
$templateRenderer = $serviceLocator->get('TemplateRenderer');
/** @var ArtistMapper $artistMapper */
$artistMapper = $serviceLocator->get('Mapper\ArtistMapper');
/** @var ShowMapper $artistMapper */
$showMapper = $serviceLocator->get('Mapper\ShowMapper');

$popularArtists = $artistMapper->getPopularArtists();
$popularShows = $showMapper->getPopularShows();
?>
<!doctype html>
<html>
<?= $templateRenderer->render('head'); ?>
<body>
<div class="wrapper">
    <?= $templateRenderer->render('header'); ?>
    <main>
        <h3>Most Popular Shows <span class="view-all-link">(<a href="/shows">See all</a>)</span></h3>
        <ul>
            <?php foreach ($popularShows as $show): ?>
                <li><a href="/show/<?= strtolower(str_replace(' ', '-', $show['name'] . '-' . $show['venue'] . '-' . $show['date']->format('Y-m-d'))) ?>"><?= $show['name'] ?> @ <?= $show['venue'] ?>: <?= $show['date']->format('F jS, Y') ?></a></li>
            <?php endforeach; ?>
        </ul>

        <h3>Most Popular Artists <span class="view-all-link">(<a href="/artists">See all</a>)</span></h3>
        <ul>
            <?php foreach ($popularArtists as $artist): ?>
                <li><a href="/artist/<?= strtolower(str_replace(' ', '-', $artist['name'])) ?>"><?= $artist['name'] ?></a></li>
            <?php endforeach; ?>
        </ul>
    </main>
    <?= $templateRenderer->render('footer'); ?>
</div>
<?= $templateRenderer->render('before-body-end'); ?>
</body>
</html>