<?php

use Mapper\ShowMapper;

$serviceLocator = App::getServiceLocator();

/** @var TemplateRenderer $templateRenderer */
$templateRenderer = $serviceLocator->get('TemplateRenderer');
/** @var ShowMapper $artistMapper */
$showMapper = $serviceLocator->get('Mapper\ShowMapper');

$shows = $showMapper->getAllShows();
?>
<!doctype html>
<html>
<?= $templateRenderer->render('head', ['metaTitle' => 'All Shows']); ?>
<body>
<div class="wrapper">
    <?= $templateRenderer->render('header', ['pageTitle' => 'All Shows']); ?>
    <main>
        <h3><a href="/shows"></a></h3>
        <ul>
            <?php foreach ($shows as $show): ?>
                <li><a href="/show/<?= strtolower(str_replace(' ', '-', $show['name'] . '-' . $show['venue'] . '-' . $show['date']->format('Y-m-d'))) ?>"><?= $show['name'] ?> @ <?= $show['venue'] ?>: <?= $show['date']->format('F jS, Y') ?></a></li>
            <?php endforeach; ?>
        </ul>
    </main>
    <?= $templateRenderer->render('footer'); ?>
</div>
<?= $templateRenderer->render('before-body-end'); ?>
</body>
</html>